# This is a basic workflow to help you get started with Actions
name: CI
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ['main']
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install node.js
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '14.x'
      - name: install deps
        # 步骤执行指令
        run: npm install
      - name: build app
        run: npm run build
      - name: Deploy
        # 因为构建之后，需要把代码上传到服务器上，所以需要连接到ssh，并且做一个拷贝操作
        uses: appleboy/scp-action@master
        with:
          host: ${{secrets.SERVERHOST}}
          username: root
          password: ${{secrets.SERVERPASSWORD}}
          port: 22
          source: 'dist'
          target: ${{secrets.TARGET}}
